#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App works at container*/
.App {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  margin: 20px;
  width: 350px;
}

.card__image {
  position: relative;
  left: 0;
  top: 0;
}

.card__image__background {
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}

.card__image__icon {
  position: absolute;
  height: 150px;
  top: 25%;
  left: 25%;
  z-index: 1;
}

.card__text {
  z-index: 2;
  width: 80%;
  margin-top: -20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card__text h4 {
  font-weight: 400;
}

.card__text h4 span {
  font-weight: 700;
}
